.baloon{
    width: 200px;
    border:1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.header{
    width: 100%;
    min-height: 30px;
    background-color: cornflowerblue;
}
.comments{
    box-sizing: border-box;
    min-height: 200px;
}

input{
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 200px;
    outline: none;
}

button{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
}





